.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to display items in a row */
}

.menu li {
    margin-right: 20px; /* Adjust as needed */
}

.menu li:last-child {
    margin-right: 0; /* Remove margin for the last item */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.content {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.badge-pill {
    float: left; 
    margin-right: 5px;
}