{% extends "base.html" %}

{% block title %}
Gutt Matrix - Home
{% endblock %}

{% block page_content %}

<!-- <div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }} {% endif %}</h1>
</div> -->

<h2>Dashboard</h2>

<p>Users: {{ user_count }}</p>
<p>Teams: {{ team_count }} </p>
<p>Topics: {{ topic_count }}</p>
<p>Items: {{ item_count }}</p>
<p>Votes: {{ vote_count }}</p>

{% if current_user.is_authenticated %}
    <h3>My Team</h3>
    <p>Members: {{ my_team_count }}</p>
{% endif %}

{% if team_code %}
    <h3>Your Team Code: {{ team_code }}</h3>
    <p><a href="{{ url_for('auth.register') }}?team_code={{ team_code }}">Link to share</a></p>
    <h3>QR Code to Join</h3>
    <img src="{{ url_for('controllers.qr_code') }}" alt="QR Code">
{% endif %}

{% endblock %}
