<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/create_topic">Create Topic</a></li>
                <li><a href="/add_item">Add Item</a></li>
                <li><a href="/vote">Vote</a></li>
                <li><a href="/calculate_priority">Calculate</a></li>
                <li><a href="/results">Results</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">SignUp</a></li
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
